# This is Git's per-user configuration file.
[user]
	name = Peyman Salehi
	email = slh.peyman@gmail.com
  signingkey = 40DC0474A6659D4472497613FBAAD5BDF4257A0C
[commit]
	gpgsign = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
[core]
	excludesfile = /home/peyman/.gitignore
