[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule ".vim/pack/plugins/start/editorconfig-vim"]
	path = .vim/pack/plugins/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = git@github.com:junegunn/fzf
[submodule ".vim/pack/plugins/start/vim-rooter"]
	path = .vim/pack/plugins/start/vim-rooter
	url = git@github.com:airblade/vim-rooter
[submodule ".vim/pack/plugins/start/vim-highlightedyank"]
	path = .vim/pack/plugins/start/vim-highlightedyank
	url = git@github.com:machakann/vim-highlightedyank
[submodule ".vim/pack/plugins/start/goyo.vim"]
	path = .vim/pack/plugins/start/goyo.vim
	url = git@github.com:junegunn/goyo.vim
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot
[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = git@github.com:fatih/vim-go
