* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
   background: rgba(40, 40, 40, 1);
   background: #242938;
   color: rgb(252, 252, 252);
}

#workspaces button {
    padding: 5px 10px;
    background: transparent;
    color: rgb(252, 252, 252);
}

#workspaces button:hover {
    border-bottom: 0;
    box-shadow: none;
    background: rgb(0, 0, 0);
    text-shadow: none;
}

#workspaces button.focused {
    background: rgb(80, 80, 80);
    background: #506477;
}

#mode, #clock, #battery {
    padding: 0 10px;
    margin: 0 5px;
}

#mode {
    background: rgb(255, 0, 0);
    border-bottom: 3px solid rgb(252, 252, 252);
}

#clock {
    border-bottom: 2px solid #a9def9;
}

#battery {
    color: #9bc53d;
    border-bottom: 2px solid #9bc53d;
}

#battery.charging {
    color: rgb(40, 40, 40);
    background-color: #9bc53d;
    border-bottom: 2px solid #9bc53d;
}

#network {
    border-bottom: 2px solid #ee4266;
}

#memory {
    border-bottom: 2px solid #ffd23f;
}

#cpu {
    border-bottom: 2px solid #9381ff;
}

#temperature {
    border-bottom: 2px solid #247ba0;
}

#custom-keyboard-layout {
    border-bottom: 2px solid #9d8189;
}

#pulseaudio {
    border-bottom: 2px solid #ff6b35;
}

#tray {
    border-bottom: 2px solid rgb(252, 252, 252);
}

#label {
    color: rgb(200, 200, 200);
}

@keyframes blink {
    to {
        background-color: rgb(252, 252, 252);
        color: rgb(40, 40, 40);
    }
}

#idle_inhibitor, #pulseaudio, #custom-openvpn, #network, #cpu, #memory, #temperature, #backlight, #battery, #clock, #tray {
    padding: 0 6px;
    margin: 0 5px;
    text-shadow: none;
    box-shadow: none;
}

#battery.warning:not(.charging) {
    background: #ee4266;
    color: rgb(252, 252, 252);
    border-bottom: 2px solid #ee4266;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
